{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MrShah2312-Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
      <h3>Sign Up here</h3>
      <form action="{% url 'Signup' %}" method="post">
        {% csrf_token %}
        {% for msg in messages %}
					<script>
						window.onload = function () {
							alert('{{msg}}')
						}
					</script>
				{% endfor %}
          <div class="inputBox">
            <input id="email" type="email" name="email" placeholder="Email" required>
            <input id="password" type="password" name="password" placeholder="Password" required>
            <input id="password" type="password" name="cpassword" placeholder="Confirm Password" required>
          </div> <input type="submit" name="" value="Sign Up">
      </form> 
      <a href="{% url 'signin_page' %}">Sign In</a>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>